.myform {
    width: 45%;
    margin: 10vh auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

.myform img {
    width: 50px;
}

.logo {
    width: 20px;
}

.home-body {
    width: 45%;
    margin: 1vh auto;
}

.welcome {
    width: 100%;
}