*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    height: 400px;
    width: 600px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 20px;
    margin: 40px auto;
    box-shadow: 16px 16px 50px black;

}
.main >h1{
    font-size: 35px;
    text-align: center;
    margin: 50px 0;
}
.ans{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.ans > button{
    width: 100px;
    height: 60px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 10%;
}
