*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.main{
    height: 550px;
    width: 800px;
    background-color: rgb(176, 116, 21);
    margin: auto;
    padding-top: 10px;
}
#display{
    height: 80px;
    width: 600px;
    background-color: lightyellow;
    margin-left: 100px;
    text-align: right;
    font-size: larger;
    color: black;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 70px;  
    font-size: larger;
    background-color: lightgoldenrodyellow;
    color: darkred;
}